#### zero.config.js Variables ####

# The "upstream" authoritative postgres database
# In the future we will support other types of upstreams besides PG
ZERO_UPSTREAM_DB = "postgresql://user:password@127.0.0.1:6434/postgres"

# Where to send custom mutations
ZERO_MUTATE_URL = "http://localhost:5173/api/mutate"
ZERO_QUERY_URL = "http://localhost:5173/api/query"

ZERO_LOG_LEVEL = "info"

# Use "json" for logs consumed by structured logging services.
ZERO_LOG_FORMAT = "text"

#### ZBugs API Server Variables ####

# The client id for the GitHub OAuth app responisble for OAuth:
# https://docs.github.com/en/apps/creating-github-apps
# Rocicorp team, see:
# https://docs.google.com/document/d/1aGHaB0L15SY67wkXQMsST80uHh4-IooTUVzKcUlzjdk/edit#bookmark=id.bb6lqbetv2lm
GITHUB_CLIENT_ID = ""
# The secret for the client
GITHUB_CLIENT_SECRET = ""
# You can create a JWK pair via `npm run create-keys`
# in the `zbugs` directory.
#
# The private key goes here
# The public key goes in `VITE_PUBLIC_JWK`.
PRIVATE_JWK = ""

ZERO_AUTH_REVALIDATE_INTERVAL_SECONDS=3600
ZERO_AUTH_RETRANSFORM_INTERVAL_SECONDS=3600

#### Vite Variables ####
VITE_PUBLIC_SERVER="http://localhost:4848"
# See comment on `ZERO_AUTH_JWK`
VITE_PUBLIC_JWK=''

# Discord webhook to send notifications to. Not required. Notifications won't
# be sent if absent.
DISCORD_WEBHOOK_URL=''

# AWS credentials for image uploads. Required for image upload functionality.
AWS_REGION=''
AWS_ACCESS_KEY_ID=''
AWS_SECRET_ACCESS_KEY=''
